.header {
  &__block {
    padding: 0 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
  }

  &__logo {
    display: grid;
    align-items: center;
  }
}
