.nav {
  &__list {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(8, auto);
    margin: 0;
    padding: 0;
  }

  &__item {
    display: grid;
  }

  &__link {
    position: relative;
    font-weight: 500;
    font-size: 12px;
    line-height: 60px;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
  }

  &__link:hover {
    color: $linkColor;
  }

  .is-active {
    color: $linkColor;
  }

  .is-active::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 4px;
    border-radius: 8px;
    background-color: $linkColor;
    width: 100%;
  }
}
