@import "_variables";
@import "normalize";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/product-card";

.page__main {
  margin: 50px auto;
}

.main__catalog {
  display: grid;
  grid-gap: 50px $cardGap;
  grid-template-columns: repeat(4, $cardWidth);
  justify-content: center;

  @media (max-width: ($cardWidth*4 + $cardGap*3)-1px) {
    grid-template-columns: repeat(3, $cardWidth);
  }

  @media (max-width: ($cardWidth*3 + $cardGap*2)-1px) {
    grid-template-columns: repeat(2, $cardWidth);
  }

  @media (max-width: ($cardWidth*2 + $cardGap)-1px) {
    grid-template-columns: repeat(1, $cardWidth);
  }
}
